﻿body {
    width: 100%;
    height: 100%;
}

.page{
    display: none;
    width: 100%;
    min-height: 100%;
}

.page_title{
    display: block;
    width: 100%;
    height: 50px;
    background-color: #38c;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 10px;
}

#detail_event{
    display: none;
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: pink;
}

#connexion{
    background-color: grey;
    position:fixed;
    width: 100%;
    min-height: 100%;
}

/* EVENT STYLE */

.next, .myevent, .available{
    width: 90%;
    margin: 10px auto;
    background-color: #EEE;
}

.next_title, .myevent_title, .available_title{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #EEE;
    padding-top: 10px;
}

.next_description, .myevent_description, .available_description{
    width: 100%;
    text-align: center;
    font-size: 15px;
    background-color: #EEE;
    padding-top: 3px;
}

.next_dates{
    width: 100%;
    text-align: center;
    padding-top: 3px;
}

.buttons_group{
    width: 100%;
    text-align: center;
    padding-top: 3px;
}

.empty{
    width: 100%;
    text-align: center;
    padding-top: 3px;
    font-size: 25px;
    margin-top: 50px;
}